*.psd filter=lfs diff=lfs merge=lfs -text
VrsNet filter=lfs diff=lfs merge=lfs -text
VrsNet/Modelargs/checkpoint/101MLCA.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
